.search-form {
  text-align: center;

  margin: 0px auto;
  padding: 20px 0 20px 0;
  width: 100%;
  background-color: tomato;
}

.search-form__input {
  padding: 15px;
}
.search-form__button {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
